/* 
landing page design based on snapfish site
https://promo.snapfish.co.uk/aff_vou5/uk-aff-affl-awuk-vou5-web-non-site/?cid=uk|aff|affl|awuk|cb1|web|non|site
by Chris Godber 2019
*Printerpix*
www.printerpix.co.uk 
 ----------------------------------------------------------------
 Dependencies
 -BootStrap 4
 */

 body{
 font-size:18px;    
 }

  /* bootstrap override for padding  */
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* additional banner css */
.banner{
    background-color:transparent;

background-image: url("a5-photo-books-main-banner.jpg");
min-height:500px;
width:80%;
margin: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
background-size: 100% auto;
}

/* message within banner  */
/* .mainmsg{
position: absolute;
top:20%;
left:70%;
padding:5px;
width:350px;
} */

/* alignment classes*/
.float-left{
float:left;
padding:5px;    
}

.clear{
clear:both;
}

/* background colors for div */
.background{
background-color: #ececec;
}

.background-pink{
background-color:#d2207e;
color:white;
width:320px;
}

.background-pur{
    background-color: #9d2274;
    color:white;
}

/* font styles  */
/* image animation classes */
.hover-outer{
    height: 300px;
    overflow: hidden; 
}

.hover-outer p{
font-weight:bold;
}

.hover-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    transform: scale(0.8);
}

/* image css/ animation */
.hover-img:hover{
transform: scale(1);
}

/* positioning css / text hacks */
.center-div{
margin: 0 auto;
}

.top-buffer { 
margin-top:20px; 
}

.center-text
{
 text-align: center;   
}

.bold{
font-weight:bold;
}

.padding-left{
padding-left:5px;
}

.steps-text2{
   padding-left:5px;
}

/* h1.mainmsg{
    font-size:2.5em;
} */

/* MEDIA QUERIES - Layouts for a varity of devices 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:450px;
    width:80%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top  ;
    background-size: 900px auto;
    }

      
h1.main-msg{
    font-size:1.4em;
}
.mainmsg {
    width:100%;
    position: absolute;
    top: 10%;
     left: 5%;
    /* background-color:white; */
    padding:10px;
  
}

.steps-text{
    font-size:1.2em;
    color: #d2207e;
}

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

  
h1.main-msg{
    font-size:1.4em;
}

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:400px;
    width:80%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

.mainmsg {
    width:100%;
    position: absolute;
    top: 10%;
    left: 5%;
    /* background-color:white; */
    padding:10px;
  
}

.steps-text{
    font-size:1.2em;
    color: #d2207e;

}

.steps-text2{
    font-size:1em;
    text-align: left;
    font-weight: bold;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:400px;
    width:80%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

.mainmsg {
    width:100%;
    position: absolute;
    top: 10%;
     left: 5%;
    /* background-color:white; */
    padding:10px;
  
}

.steps-text{
    font-size:1.2em;
    color: #d2207e;
}

.steps-text2{
    font-size:1em;
    text-align: left;
    font-weight: bold;
}

}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* mobile banner sizing and */

  body{
      font-size:1em;
  }

  
h1.main-msg{
    font-size:1.4em;
}

.steps-text2{
    font-size:1em;
    text-align: left;
    font-weight: bold;

}
.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:400px;
    width:80%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

    .main-text{
        width:80%;
        font-size:1.5em;
    }

    .offer-boxes{
        min-height:500px;
        width:100%;
        font-size:1em;
    }

    .gift-col{
        /* min-height:500px; */
        width:80%;
        font-size:1em;
    }

    .step-col{
        width:80%;
        padding:5px;
    }

    .mainmsg {
        width:100%;
        position: absolute;
        top: 10%;
         left: 5%;
        /* background-color:white; */
        padding:10px;
      
    }
 }
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        font-size:1em;
    }

    h1.main-msg{
        font-size:1.4em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }
    
    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner-mobile.jpg");
        min-height:250px;
        width:80%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        }
    
      .main-text{
          width:80%;
          font-size:1.5em;
      }
  
      .offer-boxes{
          min-height:500px;
          width:100%;
          font-size:1em;
      }
  
      .gift-col{
          /* min-height:500px; */
          width:80%;
          font-size:1em;
      }
  
      .step-col{
          width:80%;
          padding:5px;
      }
  
      .mainmsg {
        width:100%;
          position: absolute;
          top: 20%;
       
          background-color:transparent
          padding:10px;
      }
}


/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    h1.main-msg{
        font-size:2em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }

    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner.jpg");
        min-height:600px;
        width:80%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        }
    
    
        .main-text{
           
            width:80%;
            font-size:1em;
        }
    
        .offer-boxes{

            width:80%;
            font-size:1em;
        }
    
        .gift-col{
            width:80%;
            font-size:1em;
            min-height:100%;
        }
    
        .step-col{
            height:200px;
            width:80%;
        }

        .mainmsg{ 
            width:350px;
            position: absolute;
            top:20%;
            left:40%;
            background-color: transparent;
            padding:10px;
            }
    
 }
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    h1.main-msg{
        font-size:2.5em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }

    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner.jpg");
        /* min-height:600px; */
        width:80%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        }
    
        .main-text{
            width:80%;
            font-size:1em;
        }
    
        .offer-boxes{
            width:80%;
            font-size:1em;
        }
    
        .gift-col{
            width:80%;
            font-size:1em;
            min-height:100%;
        }
    
        .step-col{
            height:200px;
            width:80%;
        }

        .mainmsg{
            width:600px;
            position: absolute;
            top:20%;
            left:55%;
            background-color: transparent;
            padding:10px;
        }
 }

 /* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

  body{
      font-size:1em;
  }

  h1.main-msg{
    font-size:2.5em;
}
.steps-text2{
    font-size:1.5em;
    text-align: left;
}

    .mainmsg {
        position: absolute;
        top: 20%;
        left: 5%;
        background-color:white;
        padding:10px;
    }
}

/* Portrait */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .mainmsg {
      position: absolute;
      top: 20%;
       left: 55%;
       background-color:transparent; 
      padding:10px;
  }
}

/* Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {

  .mainmsg {
      position: absolute;
      top: 20%;
       left: 60%;
       background-color:transparent; 
      padding:10px;
  }

    }
}