/* 
landing page design based on snapfish site
https://promo.snapfish.co.uk/aff_vou5/uk-aff-affl-awuk-vou5-web-non-site/?cid=uk|aff|affl|awuk|cb1|web|non|site
by Chris Godber 2019
*Printerpix*
www.printerpix.co.uk 
 ----------------------------------------------------------------
 Dependencies
 -BootStrap 4
 */

 body{
 font-size:20px;    
 }

  /* bootstrap override for padding  */
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* additional banner css */
.banner{
    background-color:transparent;

background-image: url("a5-photo-books-main-banner.jpg");
min-height:500px;
width:100%;
margin: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
background-size: 100% auto;
}

.banner-buffer{
padding-top:80px;    
}

/* message within banner   */
.mainmsg{
position: absolute;
top:20%;
left:70%;
padding:5px;
width:350px;
}

/* alignment classes*/
.float-left{
float:left;
padding:5px;    
}

.margin-leftTop{
 padding-left:140px;   
}

.clear{
clear:both;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

.bold{
font-weight:900;    
}

/* Icons Box */
.iconBox
{
    text-align: center;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 3px 13px rgba(0, 0, 0, .075);
    box-shadow: 0 3px 13px rgba(0, 0, 0, .075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 11.5px;
    max-width: 22% !important;
}

/* Steps image */
#steps-image
{
    background-image: url("steps-desktop-uk.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
}

/*About us */
.heading
{
    text-align: center;
    padding: 18px;
    font-size: 40px;
}

.about-us
{
    line-height: 28px;
    font-size: 17px;
    font-family: 'Maven Pro', sans-serif !important;
}

/*Payment method images */
#payment-image
{
    background-image: url("Payment-Methods-UK.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
}

/* background colors for div */
.background{
background-color: #ececec;
}

.background-pink{
background-color:#d2207e;
color:white;
width:320px;
}

.button-pink{
    color:white;
    background-color:#d2207e;
    width:320px;
    border-bottom: 5px solid #B8B8B8;
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(#d2207e,#ed5ca6);
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;

    font-size:1.8em;
}


.button-pink :hover{
    color:white;
    
}

.background-pur{
    background-color: #9d2274;
    color:white;
}

/* font styles  */
/* image animation classes */
.hover-outer{
    height: 300px;
    overflow: hidden; 
}

.hover-outer p{
font-weight:bold;
}

.hover-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    transform: scale(0.8);
}

.strapline{
font-size:1.5em;    
}


/* image css/ animation */
.hover-img:hover{
transform: scale(1);
}

/* positioning css / text hacks */
.center-div{
margin: 0 auto;
}

.top-buffer { 
margin-top:30px; 
}

.center-text
{
 text-align: center;   
}

.center-desc{
text-align:left;
padding-left:25%;
}

.bold{
font-weight:bold;
}

.padding-left{
padding-left:5px;
}

.steps-text2{
   padding-left:5px;
}


/* MEDIA QUERIES - Layouts for a varity of devices 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

.create-now
{
    width: 100%;
}

#payment-image
{
    background-image: url("320x100_UK_Mobile_Payment-Cards.jpg");
    background-size: contain;
}
#steps-image
{
    background-image: url("steps-mobile-uk.jpg");
    background-size: contain;
}
.iconBox
{
    max-width: 87% !important;
    margin-left: 22px;
    
}

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:100%;
    margin: 0 auto;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center top  ;
    background-size: 900px auto;
    }

    .banner-buffer{
    padding-top:5px;    
    }
        
    .button-pink{

        font-size:1em;
    }

    .button-pink :hover{
        color:white;  
    }
      
h1.main-msg{
    font-size:1.4em;
}
.mainmsg {
    width:100%;
    position: absolute;
     left: 5%;
    padding:10px;
    margin-left: -12px
}


.margin-leftTop{
    padding-left:0px;   
   }

.steps-text{
    font-size:1.2em;
    color: #d2207e;
}


.center-desc{
    text-align:left;
    padding-left:0;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

h1.main-msg{
    font-size:1.4em;
}

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:100%;
    /* width:80%; */
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

    .banner-buffer{
    padding-top:5px;    
    }

    .button-pink{

        font-size:1em;
    }

.mainmsg {
    width:100%;
    position: absolute;
    left: 5%;
    /* background-color:white; */
    padding:10px;
    margin-left: -18px;
    margin-top: -12px;
  
}



.margin-leftTop{
    padding-left:0px;   
   }


.steps-text{
    font-size:1.2em;
    color: #d2207e;

}

.steps-text2{
    font-size:1em;
    text-align: left;
    font-weight: bold;
}

.strapline{
    font-size:1em;    
    }
    
    .percent{
    font-size:1em;    
    }

.center-desc{
    text-align:left;
    padding-left:0;
    }

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:100%;
    /* width:80%; */
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

    .banner-buffer{
        padding-top:5px;    
        }
.mainmsg {
    width:100%;
    position: absolute;
    top: 10%;
     left: 5%;
    /* background-color:white; */
    padding:10px;
}



.button-pink{

    font-size:1em;
}

.button-pink :hover{
    color:white;  
}

.margin-leftTop{
    padding-left:0px;   
   }

.steps-text{
    font-size:1.2em;
    color: #d2207e;
}

.steps-text2{
    font-size:1em;
    text-align: left;
    font-weight: bold;
}

.center-desc{
    text-align:left;
    padding-left:0;
    }

    .strapline{
        font-size:1em;    
        }
        
        .percent{
        font-size:1em;    
        }   
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* mobile banner sizing and */

  body{
      font-size:1em;
  }

  
h1.main-msg{
    font-size:1.4em;
}

.steps-text2
{
    font-size:1em;
    text-align: left;
    font-weight: bold;

}
.banner{
    background-color:transparent;
    background-image: url("a5-photo-books-main-banner-mobile.jpg");
    min-height:100%;
    /* width:80%; */
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px auto;
    }

    .banner-buffer{
        padding-top:5px;    
        }

    .button-pink{

        font-size:1em;
    }

    .button-pink :hover{
        color:white;  
    }

    .margin-leftTop{
        padding-left:0px;   
       }   

    .main-text{
        width:80%;
        font-size:1.5em;
    }

    .offer-boxes{
        min-height:500px;
        width:100%;
        font-size:1em;
    }

    .gift-col{
        /* min-height:500px; */
        width:80%;
        font-size:1em;
    }

    .step-col{
        width:80%;
        padding:5px;
    }

    .mainmsg {
        width:100%;
        position: absolute;
        top: 10%;
         left: 5%;
        /* background-color:white; */
        padding:10px;
      
    }

    .strapline{
        font-size:1em;    
        }
        
        .percent{
        font-size:1em;    
        }

    .center-desc{
        text-align:left;
        padding-left:0;
        }

        .wrap {
            flex-wrap: wrap;
            text-align: center;
          }
          .img-wrap{
            width:100%;
          }
          
          .img-wrap img {
            display: inline-block;
          }
    
 }
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        font-size:1em;
    }

    h1.main-msg{
        font-size:1.4em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }
    
    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner-mobile.jpg");
        min-height:350px;
        /* width:80%; */
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        }
    
      .main-text{
          width:80%;
          font-size:18px;
      }

   
  
      .offer-boxes{
          min-height:500px;
          width:100%;
          font-size:1em;
      }
  
      .gift-col{
          /* min-height:500px; */
          width:80%;
          font-size:1em;
      }
  
      .step-col{
          width:80%;
          padding:5px;
      }
  
      .mainmsg {
        width:100%;
          position: absolute;
          top: 7%;       
          background-color:transparent;
          padding:10px;
      }

      .center-desc{
        text-align:left;
        padding-left:0;
      }
}

/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
     .iconBox
     {
        max-width: 22.5% !important;
     }

    h1.main-msg{
        font-size:2em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }

    .button-pink{

        font-size:1.8em;
    }

    .button-pink :hover{
        color:white;  
    }

    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner.jpg");
        min-height:300px;
        /* width:80%; */
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        }
    
    
.margin-leftTop{
    padding-left:120px;   
   }

        .main-text{
           
            width:80%;
            font-size:1em;
        }
    
        .offer-boxes{

            width:80%;
            font-size:1em;
        }
    
        .gift-col{
            width:80%;
            font-size:1em;
            min-height:100%;
        }
    
        .step-col{
            height:200px;
            width:80%;
        }

        .mainmsg{ 
            width:350px;
            position: absolute;
            top:24%;
            left:40%;
            background-color: transparent;
            padding:10px;
            }

            .center-desc{
                text-align:left;
                padding-left:25%;
                }
 }
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    h1.main-msg{
        font-size:2.5em;
    }

    .steps-text{
        font-size:2em;
        color: #d2207e;
    }

    .steps-text2{
        font-size:1.5em;
        text-align: left;
    }

    .banner{
        background-color:transparent;
        background-image: url("a5-photo-books-main-banner.jpg");
        min-height:500px;
        /* width:80%; */
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        }

        .banner-buffer{
            padding-top:80px;    
            }

            .button-pink:hover{
                color:white;  
            }
            
    
        .main-text{
            width:80%;
            font-size:1em;
        }

        .margin-leftTop{
            padding-left:120px;   
           }
        
           .percent{
            font-size:4.5em;    
            }
    }
    
        .offer-boxes{
            width:80%;
            font-size:1em;
        }
    
        .gift-col{
            width:80%;
            font-size:1em;
            min-height:100%;
        }
    
        .step-col{
            height:200px;
            width:80%;
        }

        .mainmsg{
            width:500px;
            position: absolute;
            top:24%;
            left:60%;
            background-color: transparent;
            padding:10px;
        }

        .center-desc{
            text-align:left;
            padding-left:25%;
            }
 }

 /* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

  body{
      font-size:1em;
  }

 
.steps-text2{
    font-size:1.5em;
    text-align: left;
}

    .mainmsg {
        position: absolute;
        top: 20%;
        left: 5%;
        background-color:white;
        padding:10px;
    }
}

/* Portrait */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .mainmsg {
      position: absolute;
      top: 20%;
       left: 60%;
       background-color:transparent; 
      padding:10px;
      margin-top: -50px;
  }
}

/* Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {

  .mainmsg {
      position: absolute;
      top: 20%;
       left: 58%;
       background-color:transparent; 
      padding:10px;
      margin-top: -50px;
  }

  .center-desc{
    text-align:left;
    padding-left:25%;
    }

}
.strapline{
    font-size:1em;    
    }
    

/* Icons */
.icon {
    
    color: #2c2c2c;
    line-height: 140px;
    font-size: 50px;
    text-align: center;
    padding: 10px 0 8px;
    display: block;
    margin: 0 auto;
}

.iconBoxes
{
    padding-bottom: 18px;
    padding-top: 18px;
}

.wrapper-small_boxed {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    /*border-left: 1px #d2d2d2 solid;
    border-right: 1px #d2d2d2 solid*/
}
  
.wrapper-small_boxed .box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 10
}

@media only screen and (min-width:960px) and (max-width:1400px) {
    .wrapper-small_boxed .box {
        width: 100%
    }

    .wrapper-small_boxed {
        width: 100%
    }

    .strapline{
        font-size:1.5em;    
        }
        
        .percent{
        font-size:4.5em;    
        }
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .wrapper-small_boxed .box {
        width: 100%
    }

    .wrapper-small_boxed {
        width: 100%
    }

    .percent{
        font-size:4.5em;    
        }
}

   
}

@media only screen and (max-width:767px) {
    .create-now
    {
        width: 100%;
    }
    #payment-image
    {
        background-image: url("320x100_UK_Mobile_Payment-Cards.jpg");
        background-size: cover;
    }
    #steps-image
    {
        background-image: url("steps-mobile-uk.jpg");
        background-size: cover;
    }

    .iconBox
    {
        max-width: 89% !important;
        margin-left: 22px;
        
    }
    .wrapper-small_boxed .box {
        width: 100%
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .wrapper-small_boxed .box {
        width: 100%
    }

    .wrapper-small_boxed {
        width: 100%;
        border: none
    }
}

@media only screen and (max-width:767px) {
    .wrapper-small_boxed {
        width: 100%;
        border: none
    }
}


